<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <script src="https://unpkg.com/vue@latest"></script>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <div id="app">
      <h1>Todo List</h1>
      <input placeholder="enter the todo you want to add" v-model="curTodo" />
      <hr />
      <button @click="addTodo">Add</button>

      <!-- todo list -->
      <!-- way1 -->
      <div>{{ todoArr }}</div>
      <!-- way2 -->
      <div>
        <li>{{todoArr[0]}}</li>
        <li>{{todoArr[1]}}</li>
        <li>{{todoArr[2]}}</li>
      </div>
      <!-- way3 -->
      <div v-for="(todo, idx) in todoArr">
        <li key="idx">
          {{todo}} <button @click="removeTodo(todo)">&times;</button>
        </li>
      </div>
    </div>

    <script src="./main.js"></script>
  </body>
</html>
